/*primary colors
RED #BC2433;
BLUE #20468B;
BLACK #000000;
WHITE #FFFFFF;
*/
/*base styles*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  color: #FFFFFF;
  font-size: 1.1;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

/* Header Showcase */
#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background-image: linear-gradient(to right bottom, rgba(188, 36, 51, 0.9), rgba(32, 70, 139, 0.9)), url(./assets/nation-talent-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}
/* Section A */
#section-a {
  background-color: #FFFFFF;
  color: #000000;
  padding-bottom: 2em;
}

/* Section B */
#section-b {
  background-color: linear-gradient(to right bottom, rgba(188, 36, 51, 0.9), rgba(32, 70, 139, 0.9));
  color: #FFFFFF;
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}
