/* Media Query */
@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #section-c .content-text {
    columns: 2;
    column-gap: 2em;
  }
  #section-c .content-text p {
    padding-top: 0;
  }
  #section-c .content-text h3 {
    padding-top: 0;
  }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
  #section-b li {
    width: 24%;
  }
}
